
main {
    display: flex;
    flex-direction: column;
    padding: 16px;
    row-gap: 16px;
}

.filterRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.filterRow>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}